body{
	font-family:"arial";
}
#welcomemsg{
	height:300px;
	width:800px;
	display:inline-block;
}
.msg1{
	background-image:url(../images/logo.png);
	background-repeat: no-repeat;
	height:86px;
	width:400px;
	margin-top:100px;
	margin-left:200px;
	display:inline-block;
}
.msg2{
	font-size: 1.5em;
	color:#ffffff;
	display:none;
}
#nav_bar{
	margin-top:-34px;
	margin-left:120px;
}
img{
	border:0;
}
#nav_bar a span{
	display:inline-block;
	width:80px;
	height:80px;
}
#linkmap
{
	background-image: url('../images/btn_map 80x80.png');
	background-repeat: no repeat;
}
#linktimetable{
	background-image: url('../images/btn_timetable 80x80.png');
	background-repeat: no repeat;
}
#linkbooking{
	background-image: url('../images/btn_booking 80x80.png');
	background-repeat: no repeat;
}
#linkannouncement{
	background-image: url('../images/btn_announcements 80x80.png');
	background-repeat: no repeat;
}
#linklibrary{
	background-image: url('../images/btn_library 80x80.png');
	background-repeat: no repeat;
}
#linkpayment{
	background-image: url('../images/btn_payment 80x80.png');
	background-repeat: no repeat;
}