@charset "utf-8";
/* CSS Document */

body{
	background-image:url(../images/background_main.png);
	background-repeat:no-repeat;
}

#search
{
	text-align:center;
	font-style:bold;
}

#table_time
{
	text-align:center;
	border: 1px solid #000;
}

#search_table
{
	text-align:center;
	font-style:bold;
	border: 1px solid #000;
}

#highlight
{
	background-color:#999;
	overflow:hidden;
}

#searchbg
{
	background-color:#FFF;
	border:thin;
	border-color:#666;
}

#heading
{
	background-color:#000;
	color:#FFF;
}
